.tag {
  display: inline-flex;
  width: fit-content;
  align-items: center;
  border: 1px solid brown;
  border-radius: 4px;
  background-color: orange;
  margin: 2px;
  padding-top: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
}
