.autocomplete {
  width: 100%;
  & .textfieldContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #413f3f;
    border-radius: 6px;

    &:focus-within {
      outline: 2px solid rgba(0, 0, 0, 0.7);
    }
  }

  & .input {
    display: inline-grid;
    grid-template-columns: minmax(30px, 1fr);
    grid-auto-flow: column;
    width: 100%;
  }

  & .textfield {
    // display: flex;
    // width: 100%;
    // min-width: 20px;
    width: auto;
    font-size: 16px;
    border-radius: 6px;
    padding: 8px 8px;
    color: grey;
    border: none;
    outline: none;
  }

  & .dropdown {
    display: flex;
  }
}
