.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 6px;

  background-color: darkorchid;
  color: white;

  font-size: 16px;
}
